/*BOUTTON ACCUEIL*/
header {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;


}
i {
    margin-right: 5px;
}

a {
    margin-left: 7vw;
    padding: 7px;
    text-decoration: none;
    color: #1e2a20;
    background-color: #faa513e8;
    box-shadow: -10px 7px 10px #A24936;
    border-radius: 5px;
    font-size: max(25px, 1vw);
}

a:hover {

    background-color: #A24936;
    box-shadow: -10px 7px 10px #faa513e8;
    border-radius: 5px;
    font-size: max(25px, 1vw);
    color: #F2E9E4;
}
/*CORPS DU JEU*/
