/*BOUTTON ACCUEIL*/
header {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;


}
i {
    margin-right: 5px;
}

a {
    margin-left: 7vw;
    padding: 7px;
    text-decoration: none;
    color: #ffeee8;
    background-color: #8D6A9F;
    box-shadow: -10px 7px 10px #7B2D26 ;
    border-radius: 5px;
    font-size: max(25px, 1vw);
}

a:hover {

    background-color: #7B2D26;
    box-shadow: -10px 7px 10px #8D6A9F;
    border-radius: 5px;
    font-size: max(25px, 1vw);
    color: #F2E9E4;
}
/*CORPS DU JEU*/
#confetti-canvas {
  position: fixed; 
  z-index: 999; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  pointer-events: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 150vw;
    margin: 0;
    gap: 10px;
    background-color: #E2DADB;
    color: #131313;
    font-family: 'times new roman', times, serif;
}

/* EACDC2  053C5E*/

h1 {
    font-size: 35px;
    color: #19535F;
}


button {
    width: 100%;
    max-width: 130px;
    background-color: #7B2D26;
    color: #d0cccc;
    border: none;
    box-shadow: 0px 0px 30px #8D6A9F;
    border-radius: 5px;
    font-size: max(16px, 1vw);
}

input {
    width: 100%;
    max-width: 180px;
    margin-bottom: 18px;
    border-radius: 10px;
    text-align: center;
}

.zone-indication{
    margin-bottom: 50px;
    display:block;
}
.zone-bravo{
    margin-bottom: 50px;
    display:none;
}

.zone-historique{
    font-size: 20px;
    text-shadow: none;
}

.zone-bravo, .zone-historique, .zone-indication {
    color: #19535F;
}